.link {
   margin: 5;
    display: "block";
    color: "white";
}

.button {
     height: 30;
     color: primary;
     margin-left: 15px;
}

.activeLink {
     margin: 5;
     display: "block";
     color: "red";
}
